[submodule "scs-sdk-plugin"]
	path = scs-sdk-plugin
	url = git@github.com:KRtekTM/scs-sdk-plugin.git
[submodule "JsonBUS.client.InstrumentCluster/libraries/SwitecX25"]
	path = JsonBUS.client.InstrumentCluster/libraries/SwitecX25
	url = git@github.com:KRtkovo-eu/SwitecX25.git
